
  
    
        h3{
            width: 600px;;
            height: 50px;
            color: black;
            background-color: rgb(255, 166, 0);
            padding: 20px 10px;
            border: 10px;
            margin-top: 10px;
        }
          h2{
            width: 600px;;
            height: auto;
            color: black;
            background-color: skyblue;
            padding: 20px 10px;
            border: black solid;
            margin-top: 10px;
        }
        /* ul{
            width: 600px;;
            height: 100px;
            padding: 20px 10px;
            
            background-color: rgb(244, 244, 20);
    } */
     /* .list{
       
     } */
     .list li{
       background-color: yellow;
       margin: 10px;
     }
        h4{            /* /* margin-top: 10px; */

            width: 600px;;
            height: 10px;
            color: black;
            background-color: skyblue;
            padding: 20px 10px;
            border: black solid;
            margin-top: 10px;
        }
        
 